# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
NIM_IMAGE=nvcr.io/nvstaging/nim/cosmos3-turbo-reasoner:2.1.0-rc.experimental.20261001171255-d8829b41f92dbcb3@sha256:a0c0177af4887522894f040297156050fd1c7d4356202f91cc5b083a0e4bfe6f
MODEL_DIR=/absolute/path/to/cosmos3-nano-reasoner-bf16-final
NIM_CACHE_DIR=/absolute/path/to/writable-nim-cache
NIM_MODEL_PROFILE=ce9cb91d779aea8017b2f5b9118b4608313f5b6e80bf6ef602fcd74b53fc9e3a
NVIDIA_VISIBLE_DEVICES=0
NIM_PORT=18093
NIM_BIND_ADDRESS=127.0.0.1
