{
    "openapi": "3.0.3",
    "info": {
        "title": "VSS Video Analytics APIs",
        "description": "REST API endpoints in Video Analytics API microservice",
        "license": {
            "name": "Apache 2.0",
            "url": ""
        },
        "version": "3.2.0"
    },
    "servers": [
        {
            "url": "https://ai.nvidia.com/api/v3.2/analytics",
            "x-internal": false
        }
    ],
    "tags": [
        {
            "name": "metrics",
            "description": "Endpoint(s) related to computation of key performance indicators."
        },
        {
            "name": "tracker",
            "description": "Endpoint(s) related to tracker."
        },
        {
            "name": "frames",
            "description": "Endpoint(s) related to frame metadata."
        },
        {
            "name": "behavior",
            "description": "Endpoint(s) related to behavior metadata."
        },
        {
            "name": "clustering",
            "description": "Endpoint(s) related to clustering."
        },
        {
            "name": "events",
            "description": "Endpoint(s) related to events."
        },
        {
            "name": "sensor",
            "description": "Endpoint(s) related to sensor."
        },
        {
            "name": "config",
            "description": "Endpoint(s) related to config."
        },
        {
            "name": "livez",
            "description": "Endpoint(s) used to check if server is live."
        }
    ],
    "paths": {
        "/metrics/average-speed": {
            "get": {
                "tags": [
                    "metrics"
                ],
                "summary": "Get Average Speed",
                "operationId": "controller.metrics.getAverageSpeed",
                "parameters": [
                    {
                        "name": "fromTimestamp",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "maxLength": 24
                        }
                    },
                    {
                        "name": "toTimestamp",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "maxLength": 24
                        }
                    },
                    {
                        "name": "place",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000
                        },
                        "description": "This parameter is incompatible with sensorId. Only one of them can exist in the query."
                    },
                    {
                        "name": "sensorId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000
                        },
                        "description": "This parameter is incompatible with place. Only one of them can exist in the query."
                    },
                    {
                        "name": "stationaryObjectMaxTimeIntervalThresholdInSec",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 500,
                            "maximum": 900,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "stationaryObjectMinDistanceThresholdInMeters",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 5,
                            "maximum": 10,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "shortLivedBehaviorMinTimeIntervalInSec",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 3,
                            "maximum": 10,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AverageSpeed"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. This response will be sent if any of the required params are not present or if extra params are passed.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource Not Found",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metrics/flowrate": {
            "get": {
                "tags": [
                    "metrics"
                ],
                "summary": "Get Flowrate",
                "operationId": "controller.metrics.getFlowrate",
                "parameters": [
                    {
                        "name": "toTimestamp",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "maxLength": 24
                        }
                    },
                    {
                        "name": "place",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000
                        },
                        "description": "This parameter is incompatible with sensorId. Only one of them can exist in the query."
                    },
                    {
                        "name": "sensorId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000
                        },
                        "description": "This parameter is incompatible with place. Only one of them can exist in the query."
                    },
                    {
                        "name": "timeWindowSizeInSec",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 5,
                            "maximum": 900,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "flowrateUnit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "/sec",
                                "/min",
                                "/hr"
                            ]
                        }
                    },
                    {
                        "name": "shortLivedBehaviorMinTimeIntervalInSec",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 3,
                            "maximum": 10,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "stationaryObjectMinDistanceThresholdInMeters",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 5,
                            "maximum": 10,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "stationaryObjectMaxTimeIntervalThresholdInSec",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 300,
                            "maximum": 900,
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Flowrate"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. This response will be sent if any of the required params are not present or if extra params are passed.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource Not Found",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service Unavailable. This response will be sent if behavior-analytics does not respond within the configured timeout.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metrics/average-speed-with-flowrate": {
            "get": {
                "tags": [
                    "metrics"
                ],
                "summary": "Get Average Speed and Flowrate",
                "operationId": "controller.metrics.getAverageSpeedWithFlowrate",
                "parameters": [
                    {
                        "name": "fromTimestamp",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "maxLength": 24
                        }
                    },
                    {
                        "name": "toTimestamp",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "maxLength": 24
                        }
                    },
                    {
                        "name": "place",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000
                        },
                        "description": "This parameter is incompatible with sensorId. Only one of them can exist in the query."
                    },
                    {
                        "name": "sensorId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000
                        },
                        "description": "This parameter is incompatible with place. Only one of them can exist in the query."
                    },
                    {
                        "name": "flowrateUnit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "/sec",
                                "/min",
                                "/hr"
                            ]
                        }
                    },
                    {
                        "name": "shortLivedBehaviorMinTimeIntervalInSec",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 3,
                            "maximum": 10,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "stationaryObjectMinDistanceThresholdInMeters",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 5,
                            "maximum": 10,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "stationaryObjectMaxTimeIntervalThresholdInSec",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 300,
                            "maximum": 900,
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AverageSpeedWithFlowrate"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. This response will be sent if any of the required params are not present or if extra params are passed.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource Not Found",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metrics/average-speed-with-travel-time": {
            "get": {
                "tags": [
                    "metrics"
                ],
                "summary": "Get Average Speed and Travel Time",
                "operationId": "controller.metrics.getAverageSpeedWithTravelTime",
                "parameters": [
                    {
                        "name": "fromTimestamp",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "maxLength": 24
                        }
                    },
                    {
                        "name": "toTimestamp",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "maxLength": 24
                        }
                    },
                    {
                        "name": "place",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000
                        }
                    },
                    {
                        "name": "corridorTravelTimeUnit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "sec",
                                "min",
                                "hr"
                            ]
                        }
                    },
                    {
                        "name": "shortLivedBehaviorMinTimeIntervalInSec",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 3,
                            "maximum": 10,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "stationaryObjectMinDistanceThresholdInMeters",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 5,
                            "maximum": 10,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "stationaryObjectMaxTimeIntervalThresholdInSec",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 300,
                            "maximum": 900,
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AverageSpeedWithTravelTime"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. This response will be sent if any of the required params are not present or if extra params are passed.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource Not Found",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metrics/tripwire/counts": {
            "get": {
                "tags": [
                    "metrics"
                ],
                "summary": "Get effective and actual tripwire counts for a sensor.",
                "operationId": "controller.metrics.getTripwireCounts",
                "parameters": [
                    {
                        "name": "fromTimestamp",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "maxLength": 24
                        },
                        "example": "2022-08-25T00:00:00.000Z"
                    },
                    {
                        "name": "toTimestamp",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "maxLength": 24
                        },
                        "example": "2022-08-25T00:00:10.000Z"
                    },
                    {
                        "name": "sensorId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000
                        }
                    },
                    {
                        "name": "tripwireId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000
                        }
                    },
                    {
                        "name": "objectType",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "default": "Person",
                            "maxLength": 10000
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TripwireCounts"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. This response will be sent if any of the required params are not present or if extra params are passed.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource Not Found",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metrics/occupancy/tripwire": {
            "get": {
                "tags": [
                    "metrics"
                ],
                "summary": "It is used to calculate occupancy based on IN/OUT tripwire events and the value of reset occupancy. It is advised to reset a place's occupancy by using '/occupancy/reset' endpoint. This helps in keeping the occupancy calculated to be accurate.",
                "operationId": "controller.metrics.getTripwireBasedOccupancy",
                "parameters": [
                    {
                        "name": "timestamp",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "maxLength": 24
                        },
                        "example": "2022-08-25T00:00:00.000Z"
                    },
                    {
                        "name": "place",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000
                        }
                    },
                    {
                        "name": "objectType",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "example": "Person",
                            "maxLength": 10000
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TripwireOccupancy"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. This response will be sent if any of the required params are not present or if extra params are passed.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource Not Found",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metrics/occupancy/reset": {
            "post": {
                "tags": [
                    "metrics"
                ],
                "summary": "Reset the occupancy of a place",
                "operationId": "controller.metrics.resetOccupancy",
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "requestBody": {
                    "description": "Details regarding the current occupancy of a place",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OccupancyReset"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Successful Operation.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Success"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. This response will be sent if request body doesn't follow schema.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource Not Found",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body"
            }
        },
        "/metrics/tripwire/histogram": {
            "get": {
                "tags": [
                    "metrics"
                ],
                "summary": "Get a histogram of tripwire counts. Please check the input descriptions to check its dependencies.",
                "operationId": "controller.metrics.getTripwireHistogram",
                "parameters": [
                    {
                        "name": "sensorId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000
                        }
                    },
                    {
                        "name": "tripwireId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000
                        }
                    },
                    {
                        "name": "fromTimestamp",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "maxLength": 24
                        },
                        "description": "This parameter must be used together with toTimestamp. However, it is not compatible with minutesAgo.",
                        "example": "2022-08-25T00:00:00.000Z"
                    },
                    {
                        "name": "toTimestamp",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "maxLength": 24
                        },
                        "description": "This parameter must be used together with fromTimestamp. However, it is not compatible with minutesAgo.",
                        "example": "2022-08-25T00:00:10.000Z"
                    },
                    {
                        "name": "minutesAgo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": 0,
                            "maximum": 10000
                        },
                        "description": "This parameter is not compatible with fromTimestamp and toTimestamp."
                    },
                    {
                        "name": "bucketCount",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": 1,
                            "maximum": 1000,
                            "default": 20
                        },
                        "description": "This parameter provided by user is a suggestion which will be taken into account while calculating bucket size in sec (which will be a multiple of 5). There is a possibilty that the result will have less/more buckets than the one provided in the input (i.e. it can go above 1000 buckets)."
                    },
                    {
                        "name": "objectType",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "example": "Person",
                            "maxLength": 10000
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TripwireHistogram"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. This response will be sent if any of the required params are not present or if extra params are passed. It will also be sent if parameter dependencies (mentioned in parameter descriptions) are not satisfied.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource Not Found",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metrics/occupancy/fov": {
            "get": {
                "tags": [
                    "metrics"
                ],
                "summary": "Get Fov Occupancy of a sensor.",
                "operationId": "controller.metrics.getFovOccupancy",
                "parameters": [
                    {
                        "name": "fromTimestamp",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "maxLength": 24
                        },
                        "example": "2022-08-25T00:00:00.000Z"
                    },
                    {
                        "name": "toTimestamp",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "maxLength": 24
                        },
                        "example": "2022-08-25T00:00:10.000Z"
                    },
                    {
                        "name": "sensorId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000
                        }
                    },
                    {
                        "name": "objectType",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000,
                            "example": "Person"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FovCounts"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. This response will be sent if any of the required params are not present or if extra params are passed.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource Not Found",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metrics/occupancy/fov/histogram": {
            "get": {
                "tags": [
                    "metrics"
                ],
                "summary": "Get Fov Histogram of a sensor. Please check the input descriptions to check its dependencies.",
                "operationId": "controller.metrics.getFovHistogram",
                "parameters": [
                    {
                        "name": "sensorId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000
                        }
                    },
                    {
                        "name": "fromTimestamp",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "maxLength": 24
                        },
                        "description": "This parameter must be used together with toTimestamp. However, it is not compatible with minutesAgo.",
                        "example": "2022-08-25T00:00:00.000Z"
                    },
                    {
                        "name": "toTimestamp",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "maxLength": 24
                        },
                        "description": "This parameter must be used together with fromTimestamp. However, it is not compatible with minutesAgo.",
                        "example": "2022-08-25T00:00:10.000Z"
                    },
                    {
                        "name": "minutesAgo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": 0,
                            "maximum": 10000
                        },
                        "description": "This parameter is not compatible with fromTimestamp and toTimestamp."
                    },
                    {
                        "name": "bucketCount",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": 1,
                            "maximum": 1000,
                            "default": 20
                        },
                        "description": "This parameter provided by user is a suggestion which will be taken into account while calculating bucket size in sec (which will be a multiple of 5). There is a possibilty that the result will have less/more buckets than the one provided in the input (i.e. it can go above 1000 buckets)."
                    },
                    {
                        "name": "objectType",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000,
                            "example": "Person"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FovHistogram"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. This response will be sent if any of the required params are not present or if extra params are passed. It will also be sent if parameter dependencies (mentioned in parameter descriptions) are not satisfied.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource Not Found",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metrics/occupancy/roi": {
            "get": {
                "tags": [
                    "metrics"
                ],
                "summary": "Get Roi Occupancy of a sensor.",
                "operationId": "controller.metrics.getRoiOccupancy",
                "parameters": [
                    {
                        "name": "fromTimestamp",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "maxLength": 24
                        },
                        "example": "2022-08-25T00:00:00.000Z"
                    },
                    {
                        "name": "toTimestamp",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "maxLength": 24
                        },
                        "example": "2022-08-25T00:00:10.000Z"
                    },
                    {
                        "name": "sensorId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000
                        }
                    },
                    {
                        "name": "roiId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000
                        },
                        "example": "hazard_zone_1"
                    },
                    {
                        "name": "objectType",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RoiCounts"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. This response will be sent if any of the required params are not present or if extra params are passed.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource Not Found",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metrics/occupancy/roi/histogram": {
            "get": {
                "tags": [
                    "metrics"
                ],
                "summary": "Get Roi Histogram of a sensor. Please check the input descriptions to check its dependencies.",
                "operationId": "controller.metrics.getRoiHistogram",
                "parameters": [
                    {
                        "name": "sensorId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000
                        }
                    },
                    {
                        "name": "roiId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000
                        },
                        "example": "hazard_zone_1"
                    },
                    {
                        "name": "fromTimestamp",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "maxLength": 24
                        },
                        "description": "This parameter must be used together with toTimestamp. However, it is not compatible with minutesAgo.",
                        "example": "2022-08-25T00:00:00.000Z"
                    },
                    {
                        "name": "toTimestamp",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "maxLength": 24
                        },
                        "description": "This parameter must be used together with fromTimestamp. However, it is not compatible with minutesAgo.",
                        "example": "2022-08-25T00:00:10.000Z"
                    },
                    {
                        "name": "minutesAgo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": 0,
                            "maximum": 10000
                        },
                        "description": "This parameter is not compatible with fromTimestamp and toTimestamp."
                    },
                    {
                        "name": "bucketCount",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": 1,
                            "maximum": 1000,
                            "default": 20
                        },
                        "description": "This parameter provided by user is a suggestion which will be taken into account while calculating bucket size in sec (which will be a multiple of 5). There is a possibilty that the result will have less/more buckets than the one provided in the input (i.e. it can go above 1000 buckets)."
                    },
                    {
                        "name": "objectType",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "pattern": "^.{0,10000}$",
                            "maxLength": 10000
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RoiHistogram"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. This response will be sent if any of the required params are not present or if extra params are passed. It will also be sent if parameter dependencies (mentioned in parameter descriptions) are not satisfied.",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource Not Found",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "$ref": "#/components/headers/Access-Control-Allow-Origin"
                            },
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        },
                        "content": {
                            "application/json": {
[...]
